/* Stylesheet */

/* Body */


body {
  padding: 10px;
  margin-top: 100px;
}

p.icon-atom {
	margin-left: 63px;
}

/* Fonts */


/* Link Styling on Nav */


ul {
  list-style-type: none;
}

a {
	text-decoration: none;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}

a:active {
  color: #3388dd;
}

a:hover {
  color: #3388dd;
}





